<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>

  <!--Hakan Emre KAYFECİ-->
  <connectionstrings>
    <add name="examsystementities"
      connectionstring="metadata=res://*/examentitymodel.csdl|res://*/examentitymodel.ssdl|res://*/examentitymodel.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=northpank\sqlserver2017;initial catalog=examsystem;integrated security=true;multipleactiveresultsets=true;app=entityframework&quot;"
      providername="system.data.entityclient"/>
  </connectionstrings>

  <!--Doğukan DURGUT PC1(Masaüstü)-->
  <!--<connectionStrings>
    <add name="ExamSystemEntities"
      connectionString="metadata=res://*/ExamEntityModel.csdl|res://*/ExamEntityModel.ssdl|res://*/ExamEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-D94NGJJ\SQLEXPRESS;initial catalog=ExamSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  
  <!--Doğukan DURGUT PC2(Laptop)-->
 <!--<connectionStrings>
    <add name="ExamSystemEntities"
      connectionString="metadata=res://*/ExamEntityModel.csdl|res://*/ExamEntityModel.ssdl|res://*/ExamEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-18I3UCR;initial catalog=ExamSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>